* { margin: 0; padding: 0; box-sizing: border-box; }

:root {
    --color0: #0D0D0D;
    --color1: #3B403F;
    --color2: #8C8581;
    --color3: #BFB8B4;
    --color4: #D9D2D0;

    --color5: #FFFFFF;
}

body {overflow: hidden;}

main form {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

label {
    max-width: 500px;
}

:is(label, .generic-input) {
    width: 100%;
}

.generic-input {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

form button[type="submit"] {
    padding: 15px;
    border: none;
    background-color: var(--color0);
    color: var(--color5);
    font-weight: bold;
    width: 100%;
    max-width: 500px;
    border-radius: 7px;
}